@import url('https://fonts.googleapis.com/css?family=Allura|Caveat');

header .logo {
    text-align: center;
    font-family: 'Allura', cursive;
    font-family: 'Caveat', cursive;
    font-size: 3.5rem;
}
    